.converter {
    margin: 0 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
}

.source, .target {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 24px 0;
    text-align: left;
}
.pocket, .note {
  display: flex;
  flex-direction: column;
}
.pocket {
    width: 144px;
}  
.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.currency {
    font-size: 3rem;
}
.amount, .exchange {
    font-size: 0.8rem;
}

.note {
    text-align: right;
}   

button {
    background: transparent;
    border: 1px solid white;
    border-radius: 6px;
    padding: 12px;
    color: white;
    cursor: pointer;
} 

input {
    height: 50px;
    border: none;
    background: transparent;
    color: white;
    font-size: 3rem;
    text-align: right;
    width: 168px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


@media screen and (max-width: 768px) {
    .converter{
        margin: 0 10%;
    } 
}