.converter {
    margin: 0 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
}

.source, .target {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 24px 12px;
    margin-top: 24px;
    text-align: left;
}

.target {
    background: #027c9e;
    border-radius: 6px;
}

.source {
    background: #03c8ff;
    border-radius: 6px;
}

.pocket {
    display: flex;
    flex-direction: column;
    min-width: 144px;
}

.invertRate {
    width: 100;
    text-align: right;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.currency {
    font-size: 3rem;
}

.balance, .exchange, .error {
    font-size: 0.8rem;
}

.exchange {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.note {
    text-align: right;
}

.error {
    border-radius: 6px;
    background: orange;
    color: white;
    font-weight: bolder;
    padding: 12px;
    margin-top: 12px;
}

.sign {
    font-size: 2rem;
    font-weight: bolder;
}

button {
    background: transparent;
    border: 1px solid white;
    border-radius: 6px;
    padding: 12px 24px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

button.disabled {
    opacity: 0.6;
    cursor: auto;
}

input {
    height: 50px;
    border: none;
    background: transparent;
    color: white;
    font-size: 3rem;
    text-align: right;
    width: 144px;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .converter {
        margin: 0 5%;
    }
}